<div class="container">

    <form>
        <h2>Set Your Profile</h2>
        <input class="inp" type="text" id="name" name="name" placeholder="Enter your name">

        <input class="inp" type="text" id="contact" name="contact" placeholder="Enter your contact number">

        <h3>Select Your Class</h3>
        <div class="button-container">
            <button class="class-button">Class 6</button>
            <button class="class-button">Class 7</button>
            <button class="class-button">Class 8</button>
            <button class="class-button">Class 9</button>
            <button class="class-button">Class 10</button>
            <button class="class-button">Class 11</button>
            <button class="class-button">Class 12</button>
        </div>

        <h3 class="board-container">Select Your Board</h3>
        <div class="button-container">
            <button class="class-button">CBSE</button>
            <button class="class-button">ICSE</button>
            <button class="class-button">Other</button>

        </div>



        <div class="institute-container">
            <h3>Institute Name <span class="required-symbol">*</span></h3>
            <input class="inp" type="text" id="institute" name="institute" placeholder="Enter your institute name" required>
        </div>

        <input type="submit" value="Submit">
    </form>


</div>
