<div class="container">

    <form>
        <h2>Set Your Profile</h2>
        <input [(ngModel)]="studentName"  class="inp" type="text" id="name" name="name" placeholder="Enter your name">

        <input [(ngModel)]="phoneNumeber" class="inp" type="text" id="contact" name="contact" placeholder="Enter your contact number">

        <h3>Select Your Class</h3>
        <div class="button-container">
            <button *ngFor="let buttonId of buttonIds"
                class="class-button"
                [class.class-button-highlighted]="isHighlighted(buttonId)"
                (click)="toggleHighlight(buttonId)">
                {{buttonId}}
            </button>
        </div>

        <h3 class="board-container">Select Your Board</h3>
        <div class="button-container">
            <button *ngFor="let buttonId of boardButtonIds"
                class="class-button"
                [class.class-button-highlighted]="isBoardHighlighted(buttonId)"
                (click)="toggleBoardHighlight(buttonId)">
                {{buttonId}}
            </button>
        </div>

        <div class="institute-container">
            <h3>Institute Name <span class="required-symbol">*</span></h3>
            <input [(ngModel)]="institute" class="inp" type="text" id="institute" name="institute" placeholder="Enter your institute name"
                required>
        </div>

        <input type="submit" value="Submit">
    </form>
</div>
