<button class="back">&#8249;</button>
<div class="vv">
  <div class="main-box">
    <!-- First Box -->
    <div class="rectangular-box">
      <div class="column">
        <div class="image-container">
          <img src="../assets/image.jpg" alt="Image" />
        </div>
      </div>
      <div class="column">
        <div class="text-container">
          <p class="large-font">{{ reportData.data?.topic_name }}</p>
          <p class="small-font">Class: {{ reportData.data?.class }}</p>
          <p class="small-font">
            No. of Questions: {{ reportData.data?.no_of_questions }}
          </p>
          <p class="small-font">
            No. of People Attempted:
            {{ reportData.data?.no_of_people_attempted }}
          </p>
          <p class="small-font">
            Best Score: {{ reportData.data?.best_score }}
          </p>
        </div>
      </div>
      <div class="column">
        <div class="additional-info">
          <p class="date-time"></p>
          <p class="cbse-boards">CBSE Boards</p>
          <button
          (click)="handleDetailedReportClick(reportPin)"
          class="report-button">See Detailed Report</button>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
