


<button class="back">
    &#8249;
</button>
<div class="vv">
<div class="main-box">
    <!-- First Box -->
    <div class="rectangular-box">
      <div class="column">
        
        <div class="image-container">
          
          <img src="../assets/image.jpg" alt="Image">
        </div>
      </div>
      <div class="column">
        
        <div class="text-container">
          <p class="large-font">Light-Shadows and Refraction</p>
          <p class="small-font">Class: 6</p>
          <p class="small-font">No. of Questions: 20</p>
          <p class="small-font">No. of People Attempted: 111</p>
          <p class="small-font">Best Score: 20</p>
        </div>
      </div>
      <div class="column">
        
        <div class="additional-info">
          <p class="date-time">Quiz posted on: Date and time</p>
          <p class="cbse-boards">CBSE Boards</p>
          <button routerLink="/detailedreport" class="report-button">See Detailed Report</button>
        </div>
      </div>
    </div>
    <br>
    <!-- Second Box -->
    <div class="rectangular-box">
      
      <div class="column">
        
        <div class="image-container">
          
          <img src="../assets/image.jpg" alt="Image">
        </div>
      </div>
      <div class="column">
        
        <div class="text-container">
          <p class="large-font">Light-Shadows and Refraction</p>
          <p class="small-font">Class: 6</p>
          <p class="small-font">No. of Questions: 20</p>
          <p class="small-font">No. of People Attempted: 111</p>
          <p class="small-font">Best Score: 20</p>
        </div>
      </div>
      <div class="column">
        
        <div class="additional-info">
          <p class="date-time">Quiz posted on: Date and time</p>
          <p class="cbse-boards">CBSE Boards</p>
          <button  routerLink="/detailedreport"class="report-button">See Detailed Report</button>
        </div>
      </div>
    </div>
    <br>
    <!-- Third Box -->
    <div class="rectangular-box">
      
      <div class="column">
        
        <div class="image-container">
          
          <img src="../assets/image.jpg" alt="Image">
        </div>
      </div>
      <div class="column">
        
        <div class="text-container">
          <p class="large-font">Light-Shadows and Refraction</p>
          <p class="small-font">Class: 6</p>
          <p class="small-font">No. of Questions: 20</p>
          <p class="small-font">No. of People Attempted: 111</p>
          <p class="small-font">Best Score: 20</p>
        </div>
      </div>
      <div class="column">
        
        <div class="additional-info">
          <p class="date-time">Quiz posted on: Date and time</p>
          <p class="cbse-boards">CBSE Boards</p>
          <button routerLink="/detailedreport" class="report-button">See Detailed Report</button>
        </div>
      </div>
    </div>
  </div>
</div>