<div class="teacher_navbar container">
    <div class="menu_logo">
        <img routerLink="/home" src="../assets/New_Logo.png" alt="">
    </div>
    <div class="menu_items">
        <div class="menu_item">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M6 18L24 4L42 18V40C42 41.0609 41.5786 42.0783 40.8284 42.8284C40.0783 43.5786 39.0609 44 38 44H10C8.93913 44 7.92172 43.5786 7.17157 42.8284C6.42143 42.0783 6 41.0609 6 40V18Z"
                    stroke="#3A6000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M18 44V24H30V44" stroke="#3A6000" stroke-width="4" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </div>
        <div class="menu_item dropdown">
            <div class="dropbtn">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M40 42V38C40 35.8783 39.1571 33.8434 37.6569 32.3431C36.1566 30.8429 34.1217 30 32 30H16C13.8783 30 11.8434 30.8429 10.3431 32.3431C8.84285 33.8434 8 35.8783 8 38V42"
                        stroke="#3A6000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                        d="M24 22C28.4183 22 32 18.4183 32 14C32 9.58172 28.4183 6 24 6C19.5817 6 16 9.58172 16 14C16 18.4183 19.5817 22 24 22Z"
                        stroke="#3A6000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
            <div class="dropdown-content">
                <div class="profile_box">
                    <div class="top_section">
                        <div class="profile_pic">
                            <img src="../../../assets/default_profile.png"
                                alt="profile pic">
                        </div>
                        <div class="profile_text">
                            <p class="profile_username">
                                {{username}}
                            </p>
                            <p class="profile_usertag">
                                {{username}}
                            </p>
                        </div>
                    </div>
                    <div class="bottom_section">
                        <a routerLink="/teacher-acc">Profile</a>
                        <hr>
                        <a href="">Reports</a>
                        <hr>
                        <a routerLink="/help-and-support">FAQ</a>
                        <hr>
                        <a routerLink="" >Help/Support</a>
                        <hr>
                        <a (click)="logoutHandler()">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu_item">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_304_1985)">
                    <path
                        d="M42 16C42 12.8174 40.7357 9.76516 38.4853 7.51472C36.2348 5.26428 33.1826 4 30 4C26.8174 4 23.7652 5.26428 21.5147 7.51472C19.2643 9.76516 18 12.8174 18 16C18 30 12 34 12 34H48C48 34 42 30 42 16Z"
                        stroke="#3A6000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                        d="M33.463 42C33.1113 42.6062 32.6067 43.1093 31.9994 43.4591C31.3922 43.8088 30.7037 43.9929 30.003 43.9929C29.3022 43.9929 28.6137 43.8088 28.0065 43.4591C27.3993 43.1093 26.8946 42.6062 26.543 42"
                        stroke="#3A6000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                </g>
                <defs>
                    <clipPath id="clip0_304_1985">
                        <rect width="48" height="48" fill="white" />
                    </clipPath>
                </defs>
            </svg>
        </div>
    </div>
</div>
<div class="star-rating" data-rating="3"></div>




