<div class="nav_padding">
    <h2>Frequently Asked Questions</h2>
    <div class="container ">
    
        <div class="left">
            <div class="subleft">
                <p><b>Lorem ipsum dolor sit amet consectetur adipisicing elit.</b></p>
    
                <div class="dli">
                    <p class="paratext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quos praesentium
                        culpa repellendus
                        dolore assumenda tempore dolorum, sint ab doloremque facilis minus repudiandae excepturi aut nemo,
                        exercitationem nam provident dicta?</p>
                </div>
    
                <p><b>Lorem ipsum dolor sit amet consectetur adipisicing elit.</b></p>
                <div class="dli">
                    <p class="paratext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quos praesentium
                        culpa repellendus
                        dolore assumenda tempore dolorum, sint ab doloremque facilis minus repudiandae excepturi aut nemo,
                        exercitationem nam provident dicta?</p>
                </div>
    
    
                <p><b>Lorem ipsum dolor sit amet consectetur adipisicing elit.</b></p>
                <div class="dli">
                    <p class="paratext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quos praesentium
                        culpa repellendus
                        dolore assumenda tempore dolorum, sint ab doloremque facilis minus repudiandae excepturi aut nemo,
                        exercitationem nam provident dicta?</p>
                </div>
    
            </div>
            <div class="line"></div>
    
        </div>
    
    
        <div class="right">
            <div class="subright">
                <p><b>Lorem ipsum dolor sit amet consectetur adipisicing elit.</b></p>
                <div class="dli">
                    <p class="paratext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quos praesentium
                        culpa repellendus
                        dolore assumenda tempore dolorum, sint ab doloremque facilis minus repudiandae excepturi aut nemo,
                        exercitationem nam provident dicta?</p>
                </div>
    
                <p><b>Lorem ipsum dolor sit amet consectetur adipisicing elit.</b></p>
                <div class="dli">
                    <p class="paratext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quos praesentium
                        culpa repellendus
                        dolore assumenda tempore dolorum, sint ab doloremque facilis minus repudiandae excepturi aut nemo,
                        exercitationem nam provident dicta?</p>
                </div>
    
                <p><b>Lorem ipsum dolor sit amet consectetur adipisicing elit.</b></p>
                <div class="dli">
                    <p class="paratext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quos praesentium
                        culpa repellendus
                        dolore assumenda tempore dolorum, sint ab doloremque facilis minus repudiandae excepturi aut nemo,
                        exercitationem nam provident dicta?</p>
                </div>
    
            </div>
    
        </div>
    </div>

</div>
