    body {
        background-color: #e6ffbd;
    }

    .nav_padding {
        padding-top: 5rem;
    }

    .container {
        box-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
        max-width: auto;
        height: 485px;
        margin: 0 auto;
        padding: 20px;
        border: 5px solid #3A6000;
        border-radius: 10px;
        display: flex;
        flex-direction: auto;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #f1ffde;
    }

    h2 {
        color: #3d5f08;
    }

    .dli {
        width: 80%;
        margin-left: 15%;
    }

    .line {
        border-left: 2px solid #3A6000;
        height: 450px;
        position: relative;
        left: 15%;
        margin-left: 3px;
        top: 2%;

    }

    .paratext {
        font-weight: bold;
        font-family: roboto;
        font-size: 13px;
    }

    .left {
        display: flex;
        width: 50%;


    }

    .right {
        display: flex;
        width: 50%;

    }

    p {
        text-align: center;
        color: #516d2b;
    }

    .subleft {
        width: 500px;
        height: 300px;

    }

    .subright {
        width: 500px;
        height: 300px;

    }
