<div class="faqs-container">
    <h2 style="text-align:center">Frequently Asked Questions</h2>
    <br /><br />
    <h6>1.Are Kuhedu's programs applicable for all classes?</h6>
    <h5>Kuhedu’s learning programs are for students from Class 6 to Class 10. Higher classes would be covered soon.</h5>

    <h6>2. Are Kuhedu's programs mapped to the school syllabus/curriculum?</h6>
    <h5>Yes, the programs are personalized for students as per the school syllabus.</h5>

    <h6>3. What languages are the learning programs available in?</h6>
    <h5>The Kuhedu's programs are available in English and in coming days you can expect to see more regional languages
        to
        study.</h5>

    <h6>4. Do Kuhedu's learning programs need the internet?</h6>
    <h5>Yes. Internet connection is required for the app to work.</h5>

    <h6>5. Is the app available for free?</h6>
    <h5>The app is free for practice, and some courses (not all) are also free of charge. You have to purchase the
        courses to access the
        complete learning program.</h5>

    <h6>6. I want to access the App from my mobile. Can I do it?</h6>
    <h5>Yes you can. THe Kuhedu app is fully responsive. You can access it from the mobile browser. It is also a
        Progressive Web App (PWA), in Android systems, it asks for a download. If you do so, an icon is installed on
        your home screen and you can access the app from the installed icon on the home screen thereafter.</h5>

    <h6>7. Do you provide customer support?</h6>
    <h5>Yes, we provide customer support for all our enrolled users. You can write to us at hello@kuhedu.com or on our
        support site</h5>

    <h6>8. Can we access the Assessment program online too?</h6>
    <h5>No, Kuhedu's assessment program is delivered through schools only. Let us know about your school at hello@kuhedu.com and we shall get in touch.</h5>
</div>