<section>
    <div class="aboutUs">
        <div class="mission">
            <h3>IDEA KUHEDU</h3>
            <br/>
            <h3>Problem</h3>
            <p>Current educational system and majority of ed-Tech platforms are failing at learner engagement. Lesser engagement means lesser probability of conceptual understanding and exam readiness, least growth of analytical skills and zero self-development for future jobs.</p>
            <br/>            
            <h3>Solution</h3>
            <p>We have identified the gap in the market, and we are committed to close the loop by offering an ed-Tech platform designed to make all learners stay hooked, become exam ready without stress and level-up their analytical skills in a fun, engaging and rewarding way.</p>
        </div>
        <div class="contactDetails">
            <h3>DROP BY OUR ADDRESS</h3>
            <br/>
            <h3>Kuhedu Technologies Private Limited</h3>
            <p><u>Kolkata Office::</u></p>
            <!-- Shivam Tower, 2nd Floor <br/>
            3/1 Bir Ananta Ram Mondol Lane,<br/>
            Shambhu Nath Das Lane Crossing<br/>
            Kolkata - 700 050, West Bengal<br/>
            <p>INDIA</p> -->
            
            Bhawani Dreams<br/>
            9, Sreema Rd,<br/>
            Dum Dum Cantonment,<br/>
            Kolkata - 700 065, West Bengal<br/>
            <p>INDIA</p>
            
            <h3>DROP US AN EMAIL</h3>
            <p>hello@kuhedu.com</p>
            
            <h3>OUR LOCATIONS</h3>
            <div class="location">
                <img src="assets/india-flag.jpg"/> <span>INDIA</span>
            </div>
            <p>Kolkata  |   Noida</p>
        </div>
    </div>
    <div class="legal">
        <p><a routerLink="/disclaimer">Disclaimer</a>  |  <a routerLink="/privacy-policy">Privacy policy</a>  |  <a routerLink="/terms-conditions">Terms of services</a></p>
        <p>Copyright Kuhedu Technologies (P) Ltd. 2023</p>
    </div>
</section>

