<div class="page-container-assessment">
    <div class="display-1" id="first">
        <div class="text-div">
            <h1>Kuhedu Assessment</h1>
            <h4>One stop solution to improve the overall academic standard of your classroom.
                Make the most out of classroom assessment and exam. Students to learn a topic to the fullest extent
                before moving on to the next.
            </h4>
        </div>
        <div class="img-div">
            <div class="img1"></div>
        </div>
    </div>

    <div style="text-align: center;">
        <h2>Why Kuhedu Assessment?</h2>
    </div>

    <div class="display-1" id="second">
        <div class="text-div">
            <h3>Have questions that make learning outcome driven?</h3>
            <h4>The caliber of the assessment is determined by the caliber of the questions. We at Kuhedu, are
                determined and focused to make questions which students have never experienced before. Every question is
                designed to check their understanding and concept at the rudimentary to advanced level.
            </h4>
        </div>
        <div class="img-div">
            <div class="img2"></div>
        </div>
    </div>

    <div class="display-2" id="third">
        <div class="img-div">
            <div class="img3"></div>
        </div>
        <div class="text-div">
            <h3>Make educators passionate about what they teach</h3>
            <h4>Analytical skill is essential in today’s knowledge and professional landscape. Analytical skills of
                thoughtful teachers can help to make learners as future-ready individuals. Kuhedu is about to analytical
                skill of teachers through regular seminars, brainstorming sessions and workshops based on analytical
                thinking, question curation model, concept understanding etc. We do also conduct professional contest
                and discuss research ideas with teachers.
            </h4>
        </div>
    </div>

    <div class="display-1" id="fourth">
        <div class="text-div">
            <h3>Ensure the learning to happen</h3>
            <h4>80% students fail to remember the previous concept post moving on the next one. Its not easy to conduct
                assessments after teaching every topic and assess the performance on various parameters and further to
                ensure that every student of the class improve by an optimum level before moving on the next one.
                Kuhedu’s Exam and Re-Exam based Assessment structure powered by AI enabled user-friendly platform will
                help to ensure hassle-free assessments, advanced performance analysis, personalized remedial suggestions
                to ensure improvement and development of every student.
            </h4>
        </div>
        <div class="img-div">
            <div class="img4"></div>
        </div>
    </div>

    <div class="display-2" id="fifth">
        <div class="img-div">
            <div class="img5"></div>
        </div>
        <div class="text-div">
            <h3>Personalized and Customized Assessments</h3>
            <h4>We respect the academic calendar, values and needs of individual schools. Kuhedu’s assessment model is
                designed as per school’s calendar, needs and convenience. We are here because of you, we will ensure
                that our assessment is completely in sync with your learning objective, ideas and schedules. We will
                work with your academics’ team and teachers to prepare tailor-made assessment for your school.
            </h4>
        </div>
    </div>


</div>
<app-school-contact-us></app-school-contact-us>
<app-footer></app-footer>