<app-kuhedunewlogo></app-kuhedunewlogo>

<section class="container">

    <div id="main-box">
      <div class="form-column">
        <input type="text" class="form-field" placeholder="Enter Your Name">
        <input type="text" class="form-field" placeholder="Enter Your City">
        <input type="text" class="form-field" placeholder="Enter Your Contact Number">
          <p class="additional-text">Are you Interested in a Plan for School or Private institution?</p>


        <div class="half-width-buttons  vv">
          <button class="school-button">School</button>
          <button class="private-button leftb">Private Institution</button>
        </div>


        <input type="text" class="form-field" placeholder="What is the Name of It">
   <input type="text" class="form-field" placeholder="Location">
      </div>

      <div class="form-column">
        <input type="text" class="form-field" placeholder="Enter Your Mail ID">
          <p class="additional-text">Which Role Suits you better?</p>

<!-- set1 -->

          <div class="half-width-buttons">
            <button class="school-button">School Teacher</button>
            <button class="private-button leftb">Admin</button><br>       
          </div>

<!-- set2 -->

          <div class="half-width-buttons">
            <button class="school-button">Principal</button>
            <button class="private-button leftb">Owner</button>     
          </div>


<!-- set3 -->

          <div class="half-width-buttons">
            <button class="blue-button">Private Tutor</button>
            <button class="blue-button leftb">Staff</button>   
          </div>
          
<!--set4  -->

        <div class="half-width-buttons"> 
          <button class="blue-button">HOD</button>
          <button class="blue-button leftb">Other</button>
        </div>


          <p class="additional-text">Do you have any specific Question to ask?</p>
        <input type="text" class="form-field" placeholder="Type Here">
      </div>

      <button id="submit-button">Submit</button>
    </div>

</section>
