<app-kuhedunewlogo></app-kuhedunewlogo>

<section class="container">

    <div id="main-box">
      <div class="form-column">
        <input [(ngModel)]="teacherName" type="text" class="form-field" placeholder="Enter Your Name">
        <input [(ngModel)]="teacherLivingCity" type="text" class="form-field" placeholder="Enter Your City">
        <input [(ngModel)]="teacherContactNumber" type="text" class="form-field" placeholder="Enter Your Contact Number">
          <p class="additional-text">Are you Interested in a Plan for School or Private institution?</p>


        <div class="half-width-buttons  vv">
          <button class="school-button">School</button>
          <button class="school-button">Private Institution</button>
        </div>


        <input [(ngModel)]="intrestedSchool" type="text" class="form-field" placeholder="What is the Name of It">
        <input [(ngModel)]="intrestedSchoolLocation" type="text" class="form-field" placeholder="Location">
      </div>

      <div class="form-column">
        <input [(ngModel)]="teacherEmail" type="text" class="form-field" placeholder="Enter Your Mail ID">
          <p class="additional-text">Which Role Suits you better?</p>
        <div class="half-width-buttons" *ngFor="let part of roleButtonHumanReadable"
        >
          <button
            class="school-button"
            [class.school-button-highlighted]="isHighlighted(part[0])"
            (click)="toggleHighlight(part[0])"
          >
            {{part[0]}}
          </button>
          <button
            class="school-button"
            [class.school-button-highlighted]="isHighlighted(part[1])"
            (click)="toggleHighlight(part[1])"
          >
            {{part[1]}}
          </button>
        </div>
          <p class="additional-text">Do you have any specific Question to ask?</p>
        <input [(ngModel)]="question" type="text" class="form-field" placeholder="Type Here">
      </div>

      <button id="submit-button">Submit</button>
    </div>

</section>
