
<style>
    .clock {
        font-size: 1rem;
        color: white;
        margin-right: 0.3em;
    }
    .clock-icon {
        font-size: 1rem;
        color: white;
        margin-right: 0.3em;
    }
    .gjk{
        padding-top: 6%;
    }
</style>

<div class="gjk">
    <div class="toggle">
        <button class="noob fw-bolder fs-4 mx-4">
            <i class="far fa-clock clock-icon"></i>
            <span id="clockDisplay" class="clock"></span>
            {{ title }}
        </button>
        <button class="noob1">{{ ls_subject }}</button>
        <button class="noob2">
            <i class="far fa-lightbulb" style="font-size: 0.8rem; color: white; margin-right: 0.3em;"></i> Solution
        </button>
    </div>

    <div class="box">
        <div class="text">
            <span >{{current_question_count}}. </span>
            <input height="40px" [(ngModel)]="question" type="text" name="Question Feild" id="">
        </div>
        <div>
        </div>

        <div class="column">
            <div class="left-column">
                <div class="class-box">
                    <button class="button button5">A</button>
                    <div class="class-title">
                        <input [(ngModel)]="option1" class="option_boxes ">
                    </div>
                </div>
                <div class="class-box">
                    <button class="button button5">C</button>
                    <input [(ngModel)]="option2" class="option_boxes "/>
                </div>
            </div>

            <div class="right-column">
                <div class="class-box">
                    <button class="button button5">B</button>
                    <input [(ngModel)]="option3" class="option_boxes ">
                </div>
                <div class="class-box">
                    <button class="button button5">D</button>
                    <input [(ngModel)]="option4" class="option_boxes ">
                </div>
            </div>
        </div>
    </div>

    <footer class="my-custom-nav">
        <a class="navbar-brand fw-bolder fs-4 mx-4" href="/report">
            <span style="color: black; font-size: 0.8em;">
                Report this question <i class="fas fa-exclamation-triangle"></i>
            </span>
        </a>
        <button class="nav-link">
            <i class="fas fa-step-backward"></i>
            <span style="color: white; font-weight: bolder; font-size: 15px; margin-left: 0.5em;">Previous</span>
        </button>
        <button class="nav-link">
            <i class="fas fa-pause"></i>
            <span style="color: white; font-weight: bolder; font-size: 15px;">Pause </span>
        </button>
        <button class="nav-link">
            <span style="color: white; font-weight: bolder; font-size: 15px; margin-right: 0.5em;">Next</span>
            <i class="fas fa-step-forward"></i>
        </button>
    </footer>
</div>
