<div class="container">
  <p style="margin-left: 60%;">Take a quick tour on how to create a paper</p>
  <div class="green-box">

    <div style="display:flex;justify-content: center;width:100%;text-align:center;margin-bottom:-20px">

      <h2 style="color: #006400;">Select a subject</h2>

    </div>

    <div class="pictures">

      <div class="subjects-filter-container">

        <div class="subjects-card" id="physics">

        </div>
        <div class="subjects-card" id="chemistry">

        </div>
        <div class="subjects-card" id="biology">

        </div>
        <div class="subjects-card" id="mathematics">

        </div>
      </div>
    </div>

    <div class="secondcontent">

      <div class="first">

        <div class="group">
          <label for="">Enter Your Name</label>
          <input type="text" class="form-field" placeholder="Enter Your Name">
        </div>

        <div class="selectgroup">

          <label for="">Select Class</label>

          <div class="flex-container">
            <select id="teacher-type" name="teacher-type">
              <option value="Easy">Class 1</option>
              <option value="Medium">Clas 2</option>
              <option value="Hard">Class 3</option>
            </select>
          </div>

        </div>

        <div class="selectgroup">

          <label for="">Chapter Name</label>
          <div class="flex-container">
            <select id="teacher-type" name="teacher-type">
              <option value="Easy">Chapter 1</option>
              <option value="Medium">Chapter 2</option>
              <option value="Hard">Chapter 3</option>
            </select>
          </div>

        </div>

        <div class="selectgroup">
          <label for="">Difficulty Level</label>
          <div class="flex-container">
            <select id="teacher-type" name="teacher-type">
              <option value="Easy">Easy</option>
              <option value="Medium">Medium</option>
              <option value="Hard">Hard</option>
            </select>
          </div>
        </div>

      </div>


      <div class="second">

        <div class="group">
          <label for="">Select Board</label>
          <input type="text" style="width: ;" class="form-field" placeholder="Enter Your Name">
        </div>

        <div class="group">
          <label for="">Question Type</label>
          <div class="flex-container">
            <select id="teacher-type" name="teacher-type">
              <option value="Easy">Class 1</option>
              <option value="Medium">Clas 2</option>
              <option value="Hard">Class 3</option>
            </select>
          </div>
        </div>

        <div class="group">
          <label for="">Number of Questions</label>
          <div class="flex-container">
            <select id="teacher-type" name="teacher-type">
              <option value="Easy">Chapter 1</option>
              <option value="Medium">Chapter 2</option>
              <option value="Hard">Chapter 3</option>
            </select>
          </div>
        </div>

        <div class="selectgroup">
          <label for="">Set Duration</label>
          <div class="flex-container">
            <select id="teacher-type" name="teacher-type">
              <option value="Easy">Easy</option>
              <option value="Medium">Medium</option>
              <option value="Hard">Hard</option>
            </select>
          </div>
        </div>

      </div>

    </div>

    <div class="thirdcontent">
      <button class="bluebutton">Generate Code</button>
    </div>

  </div>

  <div class="green-box">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <h2 style="padding-left: 50px;font-size:medium;">Or Import question paper</h2>
      <button class="bluebutton" style="margin-right: 90px;">Spreadsheet</button>
    </div>

    <div class="button-container">
      <button class="bluebutton">Preview</button>
      <button class="bluebutton">Publish</button>
    </div>

  </div>

  <button class="bluebutton" style="height: 50px;width: 300px;font-size: medium;">Start Creating</button>

</div>
