


<div class="home-container">
    <div class="tagline">
        <div class="ace"></div>
    </div>
    <div class="freepic"></div>
    <div class="bannerimg"></div>
    <div class="statement">
        <h1>We ensure that at every moment with Kuhedu, you stay</h1>
        <div class="substatement">
            <div class="engaged imageEnhance"></div>
            <div class="motivated imageEnhance"></div>
            <div class="challenged imageEnhance"></div>
        </div>
        <div class="substatement-labels">
            <h3>Engaged</h3>
            <h3>Motivated</h3>
            <h3>Challenged</h3>
        </div>
        <div>
            <h2>Our Offerings</h2>
        </div>
    </div>

    <div class="offerings-container">
        <div class="offering" id="offering1">
            <div class="offering-header">
                <div class="header-image1"></div>
                <div class="header">
                    <h2>Kuhedu Practice</h2>
                    <h3 style="font-style: italic;">( for students and teachers )</h3>
                </div>
            </div>
            <ul>
                <li>
                    <h4>Top notch questions by India's top faculties and as per new education policy (NEP)</h4>
                </li>
                <li>
                    <h4>Crafted practice sets based on target learning outcomes of various difficulty levels as per the
                        needs</h4>
                </li>
                <li>
                    <h4>Easy to create with user-friendly and AI enabled platform</h4>
                </li>
                <li>
                    <h4>Covering the syllabus of different Indian boards</h4>
                </li>
                <li>
                    <h4>Easy to share with students</h4>
                </li>
            </ul>
            <br />
            <a routerLink="/about-kuhedu-practice">Know more</a>
        </div> 
        <div class="offering" id="offering2">
            <div class="offering-header">
                <div class="header">
                    <h2>Kuhedu Assessment</h2>
                    <h3 style="font-style: italic;">( for schools and institutions )</h3>
                </div>
                <div class="header-image2"></div>
            </div>
            <ul>
                <li>
                    <h4>One-stop solution to develop overall learning outcomes</h4>
                </li>
                <li>
                    <h4>Concept based, cognitive and metaphysical questions of proven technique</h4>
                </li>
                <li>
                    <h4>Improvement of teaching quality and standards backed by spectacular workshops as per new
                        education policy (NEP)</h4>
                </li>
                <li>
                    <h4>Unique and user-friendly AI driven platform with 24x7 operational support</h4>
                </li>
            </ul>
            <br />
            <a routerLink="/about-kuhedu-assessment">Know more</a>
        </div>
    </div>

    <div class="substatement-labels">
        <h2 style="width:100%;text-align:center;margin-bottom:-40px">Our Value Added Services</h2>
    </div>

    <div class="vas-container">
        <div class="vas-item">
            <div class="vas1 imageEnhance vas-image"></div>
            <h4 class="vas-text">Personalized learning for everyone</h4>
        </div>
        <div class="vas-item">
            <div class="vas2 imageEnhance vas-image"></div>
            <h4 class="vas-text">Learn together, play and interact</h4>
        </div>
        <div class="vas-item">
            <div class="vas3 imageEnhance vas-image"></div>
            <h4 class="vas-text">Detailed feedback of performance and growth</h4>
        </div>
        <div class="vas-item">
            <div class="vas4 imageEnhance vas-image"></div>
            <h4 class="vas-text">Learning at own pace and level progression</h4>
        </div>
        <div class="vas-item">
            <div class="vas5 imageEnhance vas-image"></div>
            <h4 class="vas-text">Active and gamified learning</h4>
        </div>
    </div>

    <div class="substatement-labels">
        <h2 style="width:100%;text-align:center;margin-top:-40px;margin-bottom:-40px">Kuhedu 2.0 is a trailblazer!
            (releasing soon)</h2>
    </div>
    <div class="dna-container">
        <div class="dna-item">
            <div class="dna-image dna1"></div>
            <div class="dna-caption">
                <h3>EXPLORATION</h3>
            </div>
            <div class="dna-text">
                <h5>Exploratory learning with 2D/3D models and interactive videos. Enabler of concept deep-dive with learning completion tracker.</h5>
            </div>
        </div>
        <div class="dna-item">
            <div class="dna-image dna2"></div>
            <div class="dna-caption">
                <h3>GAMING + LIVE STREAMING</h3>
            </div>
            <div class="dna-text">
                <h5>Game based templates and learner engagement drivers with live-streaming capabilities both on Web and Mobile. </h5>
            </div>
        </div>
        <div class="dna-item">
            <div class="dna-image dna3"></div>
            <div class="dna-caption">
                <h3>GENERATIVE AI + ANALYTICS</h3>
            </div>
            <div class="dna-text">
                <h5>Generative AI / Deep Analytics based study co-pilot for learners with built-in personalized learning capabilities with progress meter.</h5>
            </div>
        </div>
        <div class="dna-item">
            <div class="dna-image dna4"></div>
            <div class="dna-caption">
                <h3>CONTENT TOOLS + MULTILINGUAL</h3>
            </div>
            <div class="dna-text">
                <h5>Built-in platform support for multilingual content generation with pre-built 100+ creator templates for different subjects.</h5>
            </div>
        </div>
        <div class="dna-item">
            <div class="dna-image dna5"></div>
            <div class="dna-caption">
                <h3>SUBJECT AGNOSTIC</h3>
            </div>
            <div class="dna-text">
                <h5>Apart from STEM subjects, platform has huge question bank for Arts, Social Science and hundreds of
                    other subjects.</h5>
            </div>
        </div>
        <div class="dna-item">
            <div class="dna-image dna6"></div>
            <div class="dna-caption">
                <h3>ONE COMMUNITY</h3>
            </div>
            <div class="dna-text">
                <h5>One community for educators, learners, modelers, skill based influencers and corporates (for
                    internships of learners)</h5>
            </div>
        </div>
    </div>
</div>
<app-school-contact-us></app-school-contact-us>
<app-footer></app-footer>