<div class="public-info-container">
    <br />
    <h1 style="text-align: center; font-weight:800">Terms and Conditions</h1>

    <p class=".legalText">

        These Terms & Conditions ("Terms") govern (a) your use of our website www.kuhedu.com ("Website"), our
        applications ("Application"), or any products or services associated with the Application, Website, or products
        ("Services"), and (b) any methods of registration or product usage, including via SD cards, tablets, or other
        storage/transmitting devices. These Terms establish a legal agreement between Kuhedu Technologies Private
        Limited ("Company/ We/ Us/ Our") and its users ("User/ You/ Your").
    </p>

    <p>
        These Terms are considered an electronic record, as per the Information Technology Act, 2000, and the
        Information
        Technology (Intermediaries guidelines) Rules, 2011, as amended.
    </p>

    <p>
        Please carefully review these Terms and the Company's privacy policy ("Privacy Policy") concerning registration,
        the
        use of the Application, Website, Services, and products before utilizing them. In case of any conflict between
        these
        Terms and any other policies related to the Application, Website, Services, or products, these Terms take
        precedence.
    </p>

    <p>
        Your use, access, or registration (with or without payment or subscription) through any means signifies your
        acceptance of these Terms and your legal commitment to them.
    </p>

    <p>
        If you disagree with these Terms or the Privacy Policy, please refrain from using the Application, Website,
        Services, or products. Access to our Services, Application, or products via registration or subscription is
        non-transferable.
    </p>

    <p>
        1. General: Unless stated otherwise below, all information, content, materials, trademarks, service marks, trade
        names, and trade secrets, which include, but are not limited to, software, text, images, graphics, video,
        script, and
        audio, found within the Application, Website, Services, and products are the exclusive property of the Company
        ('Proprietary Information'). You are prohibited from copying, downloading, reproducing, modifying, republishing,
        uploading, posting, transmitting, or distributing any Proprietary Information without prior written permission
        from the Company. This Application, Website, Services, and products do not grant any license, right, interest,
        or title to the User regarding the Company's intellectual property rights. While you may possess the medium on
        which the information, content, or materials reside, the Company retains complete and undivided ownership of
        such information, content, or materials, as well as all intellectual property rights embedded by the Company
        within that medium. Some content on the Website may be the property of third parties, reproduced with their
        prior consent, and all related rights will remain with these third parties. Moreover, you acknowledge that all
        trademarks, copyrights, logos, service marks, and other intellectual property owned by third parties will
        continue to be the property of those parties, and you are not authorized to use them without the respective
        third party's consent.
    </p>

    <p>
        2. Use of the Product: Your use of our products, Website, Application, and Services is solely for personal and
        non-commercial purposes.
        Using them for any other purpose is prohibited. Here are some key restrictions:
    </p>

    <div class="points">
        <li>You can't decompile, reverse engineer, or modify the Application, Website, Services, or products, or use
            them for commercial purposes.</li>

        <li>You can't use them in any unlawful way or in a way that harms the Company or others.</li>

        <li>Prohibited activities include posting harmful, offensive, or infringing content, impersonating others, and
            transmitting viruses or malware.</li>

        <li>You can't disrupt the services or violate any applicable laws, regulations, or network policies.</li>

        <li>Interfering with security, gaining unauthorized access, or disrupting user experiences is also not allowed.
        </li>

        <li>Using automated methods to access or scrape content is prohibited.</li>

        <li>Altering or modifying the Services is not permitted.</li>

        <li>Using the Services for unlawful or prohibited purposes is against the terms and any applicable laws.</li>
    </div>

    <p style="text-align:left">
        Please adhere to these terms to ensure a positive user experience.
    </p>

    <p> 3. Public User Content: By sharing content on or through the Services (referred to as "your Material"), you
        grant
        us a worldwide, non-exclusive, royalty-free license (with the right to grant sublicenses) to utilize, replicate,
        process, adapt, alter, publish, transmit, display, and distribute your Material across all media or distribution
        channels, both existing and future, and to associate your Material with you, with the exception of the
        conditions outlined
        below. You acknowledge that others may use your Material in the same manner as any other content accessible
        through the Services. Other users of the Services may modify, adjust, and repurpose your Material in accordance
        with
        these Terms. If you delete your user account, your Material and name may still be accessible through the
        Services.
    </p>


    <p>4. While creating the Application/ Website/ Services/ Products and their contents, we have made every effort to
        provide the most up-to-date, accurate, and clearly understandable information possible. However, unintended
        errors may
        occur. In particular, but without limiting this, the Company disclaims responsibility for any inaccuracies in
        the information within the Application. We highly value User feedback to enhance the Application's accuracy and
        user-friendliness. The Company also retains the right to make changes, corrections, additions, or withdrawals to
        the contents without prior notice. Neither the Company nor any third parties guarantee the accuracy, timeliness,
        performance, completeness, or suitability of the information and materials presented on the
        Application/ Website/ Services/ Products for any specific purpose. You acknowledge that such information and
        materials may contain inaccuracies or errors, and we disclaim liability for these inaccuracies or errors to the
        fullest
        extent permitted by law.</p>



    <p>5. Educational Information and External Links: Our website grants Users access to curated educational information
        and associated resources. Please note that this information is provided 'As Is,' and we do not assume
        responsibility
        for its accuracy, completeness, relevance, or up to date. We are not obligated to update or maintain the
        information
        on the Website. Any errors in this information, which is sourced from third parties, or its unavailability, are
        beyond our responsibility. Periodically, the Website may contain links to external websites for additional
        information.
        These links are offered for convenience and do not constitute an endorsement by us. We bear no responsibility
        for the content of linked websites. You must obtain the Company's prior written consent before creating a link
        to
        the Website from another website or document.
    </p>

    <p>6. Educational Content: The content within the Application/ Services/ Products is built upon the principles
        outlined in structured curriculum syllabi designed for students across various courses. The utilization of the
        Application/ Services/ Products is not intended to replace the curriculum-based education offered by educational
        institutions but aims to complement it by presenting concepts in an easily comprehensible manner. Fundamental
        definitions and formulas within the subject matter remain consistent. The Company acknowledges the diversity of
        pedagogical approaches in structured curriculum delivery; inclusion in the Application/ Services/ Products neither
        endorses any specific method nor implies disapproval of others. Subscribing to the Application or using our
        Services/Website/products does not guarantee admission to educational institutions, successful exam outcomes, or
        attainment of specific percentage marks in any examinations.
    </p>

    <p>7. Some sections of the Services offer interactivity, and we welcome user contributions. These contributions may
        undergo editorial scrutiny before publication, but we assume no responsibility or liability for materials shared
        by third parties in this manner. The Company retains the exclusive discretion to remove, assess, edit, or delete
        any content as deemed necessary. Likewise, we do not assume responsibility or liability for any content directly
        uploaded to the Website by users, regardless of whether we have certified a user-uploaded answer. We are not
        obligated to verify whether user-contributed questions/answers or content contain infringing materials.
    </p>



    <p>8. Communication Permissions and Information Sharing: The Company (including its subsidiaries/affiliates) may,
        through any means of Application access (including free downloads/trials), Services, Website usage, or
        registrations
        from any source, get in touch with the User via SMS, email, and phone calls. This contact may serve to provide
        information about their products, offerings, important updates, or request permission for product
        demonstrations. By using the services, the User expressly grants permission to be contacted via telephone, SMS,
        and email. The User
        also agrees to hold the Company (including its subsidiaries/affiliates) harmless from any liabilities, including
        financial penalties and expenses, in the event the User's mobile number is registered with the Do Not Call (DNC)
        database. By registering, you consent to sharing your contact details with our employees, associates,
        subsidiaries, affiliates, and partners, allowing them to contact you for educational information, offerings, and
        promotions
        via telephone, SMS, email, etc.
        <br />
        Upon registration using any method, the Company may contact you through the provided mobile number, email, or
        alternative contact information to ensure the effective delivery of Services. You explicitly authorize the
        Company to initiate contact with you and the student utilizing the Services using the above-mentioned means
        after
        registration. Furthermore, the Company reserves the right to monitor the download and usage of the
        Application/ Services/ Products, as well as their contents, by the User/student. This data analysis is conducted
        to enhance the effectiveness and efficiency of the Services and may involve discussions with the User/student.
        You
        expressly grant the Company permission to address student queries, provide study plans, report progress, offer
        feedback, engage in communication, and provide mentoring through telephone or email, subject to the express
        consent of the legal guardian/parent of the User or through other appropriate channels.
    </p>


    <p>9. While the Company has undertaken training efforts for personnel involved in sales and product-related
        services to maintain quality standards, it does not provide any warranties or guarantees concerning the quality
        or
        competence of these individuals. The Company disclaims responsibility for any inappropriate conduct by such
        personnel. User
        feedback on this matter is highly appreciated, and the Company retains the right and discretion to take
        appropriate actions in response.
    </p>


    <p>10. Access to specific aspects of the Services, such as doubt clearance and mentoring services, may be governed
        by distinct terms, conditions, and fair usage policies. The Company retains the authority to establish criteria
        for
        granting various elements of the Services to different categories of Users in accordance with its policies.
        Consequently, subscribing to the Application/ Products or registering does not automatically grant Users access
        to all elements of the Services provided by the Company. The Company reserves the right to exercise discretion
        in
        providing access to and determining the continuity of specific elements of the Services. We also retain the
        right to extend, cancel, discontinue, prematurely withdraw, or modify any of Our Services at Our discretion.
    </p>


    <p>11. The Company's products and Services, including the Application and content, are designed to be compatible
        with specific devices, tablets, and hardware. The Company is not obliged to ensure the functionality of its
        products
        and services on unrecognized devices or those acquired from third parties that are incompatible with the
        Company's
        offerings. The Company retains the right to update the list of compatible devices as necessary.
    </p>


    <p>12. Customer Referral and Bonus Policy: To foster customer retention and loyalty, Kuhedu encourages its
        customers, Fintech Partners, and other stakeholders to refer potential customers to purchase Kuhedu Products &
        Services.
        The Company may, at its discretion, offer referral bonuses in accordance with applicable laws. It's important to
        note that this is an optional and selective policy of the Company, and the Company's decision is final and not
        subject to dispute or challenge.
        <br />
        It is imperative to exercise caution that no customer, Fintech Partner, or other stakeholder should engage in
        business with the Company solely in anticipation of receiving a referral bonus. The Company cannot be held
        accountable if a customer conducts business with the expectation of receiving such a bonus, as the bonus is
        solely dependent on the Company's discretion, considering internal parameters and various demographic and
        economic
        factors.
    </p>

    <p>13. Payments: Purchasing Paid Subscription Plans can be done directly through Kuhedu's website. This section of
        the Terms specifically applies when you have registered for one of our Paid Subscription Plans directly on our
        website.
        <br />
        You assure us that the information you provide during registration, payment (if you've subscribed to a Paid
        Subscription Plan), and any other details you submit are accurate, truthful, and complete. You also commit to
        keeping this information up to date to avoid any suspension or cancellation of your plan. In the event that
        you've supplied incorrect or outdated information or need to make updates, please return to the login screen or
        adjust
        the information in your account settings. You pledge not to permit any other individual to use or access your
        account or, in any way, utilize the Kuhedu Services, your Paid Subscription Plan, or exercise the rights granted
        to you
        under this Agreement.
    </p>

    <p>14. Payments and Subscription Plans: Payment for all Paid Subscription Plans must be completed in full before the
        start of each Subscription Period. Once a payment is made for a Paid Subscription Plan, it cannot be canceled or
        refunded.
        <br />
        You will be billed before gaining access to your Paid Subscription Plan. When your current Subscription Period
        ends, your Paid Subscription Plan subscription will automatically renew, and your registered payment method will
        be
        charged for the upcoming Subscription Period.
        <br />
        Failure to make a timely payment for your Paid Subscription Plan may result in the suspension of your account or
        the removal of Paid Subscription Plan features at Kuhedu's discretion.
    </p>

    <p>15. Price change and New Subscription Plans: Kuhedu reserves the right to modify the price of a Paid Subscription
        Plan. If such a price adjustment applies to you, it will take effect at the start of your next Subscription
        Period.
        Your continued use of Kuhedu Services implies your acceptance of the updated pricing. If you disagree with the
        price
        alteration, you can reject it by canceling your subscription before the next Subscription Period renewal.
        <br />
        Please note that we do not issue refunds if the price of a Paid Subscription Plan decreases or if we introduce
        subsequent promotional pricing or modify the content or features of a Subscription Plan.
        <br />
        Kuhedu also holds the authority to alter or substitute our Subscription Plans. If the Subscription Plan you've
        subscribed to undergoes changes or is replaced, your subscription will automatically align with the Subscription
        Plan that corresponds to the pricing of your original plan unless you choose to upgrade your subscription.
    </p>

    <p>16. Trial: We may, at our discretion, offer you a Trial Subscription ("Trial"). We retain the right to terminate
        the
        Trial and suspend your account if we determine your eligibility to be invalid.
        <br />
        For certain Trials, we may require you to provide your payment information to initiate the Trial. In such cases,
        your Trial will automatically transition into a paid subscription for the chosen Subscription Plan starting on
        the
        day following the Trial period's conclusion if you opt to convert your plan to a Paid Subscription Plan. We will
        utilize the payment details you supplied at the Trial's commencement to process the charge. If you do not wish
        to
        continue with your selected Subscription Plan by converting your Trial into a Paid Subscription Plan, you must
        exercise your right to cancel your subscription prior to the Trial period's conclusion.
    </p>

    <p>17. Eligibility for Registration: Only individuals who are considered 'competent/capable' under the Indian
        Contract Act,
        1872 are eligible to register for the Application and access all of our products and services. Persons who are
        minors, undischarged insolvents, etc., are not permitted to register for our products or services. If you are a
        minor and wish to use our products or services, access will be granted by your legal guardian or parents who
        must
        agree to these Terms.
        <br />
        If a minor utilizes the Application/ Website/ Services, it is assumed that they have obtained the consent of their
        legal guardian or parents, who are providing access. The Company disclaims responsibility for any consequences
        arising from misuse of our Application, products, or services due to any person, including a minor, registering
        for
        the Services/products.
        <br />
        By using our products or services, you warrant that all the data you provide is accurate and complete, and that,
        in
        the case of minors, consent has been obtained from the parent/legal guardian. The Company reserves the right to
        terminate your subscription or deny access to our products or services if it is discovered that you are under 18
        years of age and have not obtained consent from your parent/legal guardian or have provided inaccurate
        information.
        <br />
        You acknowledge that it is your sole responsibility to ensure that you meet the necessary eligibility criteria.
        Individuals under the age of 18 should seek consent from their parents/legal guardians before providing any
        information about themselves or their family members on the Application.
    </p>

    <p>18. You hereby agree to defend, indemnify, and hold the Company, its officers, directors, employees, and agents
        harmless
        from any and all claims, damages, obligations, losses, liabilities, costs, or debts, including attorney’s fees,
        arising from:</p>
    <div class="points">
        <li>Your use of and access to the Application/ Website/ Services.</li>

        <li>Your violation of any term within these Terms or any other Company policy.</li>

        <li>Your violation of any third-party rights, including but not limited to copyrights, property, or privacy
            rights.</li>

        <li>Any claim that your use of the Application/Website/Services has caused damage to a third party. This defense
            and
            indemnification obligation will remain in effect beyond these Terms.</li>
    </div>

    <p>19. In no circumstances shall the Company, its officers, directors, employees, partners, or agents be held liable
        to you
        or any third party for any special, incidental, indirect, consequential, or punitive damages, including but not
        limited to those resulting from the loss of use, data, profits, or any other claim arising from your use or
        access
        to the Application.
    </p>

    <p>20. In case of your breach of these Terms, you acknowledge that the Company may suffer irreparable harm and may
        not have
        an adequate remedy in the form of monetary damages. Consequently, the Company is entitled, in such an event, to
        seek
        an injunction from any court with jurisdiction. The Company's pursuit of this relief will not limit its ability
        to
        seek other remedies.
    </p>

    <p>21. Any violation by you of the terms in this clause may result in immediate suspension or termination of your
        accounts,
        in addition to any legal remedies available to the Company. In such instances, the Company may also disclose
        your
        Account Information if required by any governmental or legal authority. You understand that violating these
        Terms
        could result in civil or criminal liability under applicable laws.
    </p>

    <p>22. These Terms are governed by and interpreted in accordance with the laws of India, without regard to conflict
        of law
        principles. Furthermore, these Terms are subject to the exclusive jurisdiction of the competent courts located
        in
        Kolkata, and you hereby submit to and accept the jurisdiction of such courts.
    </p>

    <p>23. The Company retains the right to change, modify, suspend, or discontinue any aspect, features, or
        functionality of
        the Application or the Services at its discretion and without prior notice. The Company also reserves the right
        to
        amend these Terms without prior notice. The Company makes no commitment, either expressed or implied, to
        maintain or
        continue any aspect of the Application. You agree that the Company shall not be liable to you or any third party
        for
        any modifications, suspensions, or discontinuances of the Application/ Services. All prices are subject to change
        without notice.
    </p>



</div>