
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,200;1,400;1,500;1,600;1,700;1,800&display=swap');
    </style>
  
<div class="sp">
  <div class="profile_view">
    <div class="image_sec">
      <div class="profile child">
        <img src="https://i.pinimg.com/236x/d9/21/4a/d9214ad661353dffe8846da342e1a004.jpg" alt="Profile Pic">
      </div>
      <div class="details child">
        <h2 class="teacher_name">Saicharan</h2>
        <p class="subject_name">Computer Science</p>
        <p class="board">CBSE Boards</p>
        <p class="contact_email">teacher@gmail.com</p>
      </div>
    </div>
    <hr>
    <div class="stats_sec">
      <div class="stats_view">
        <h2>Overall Rating</h2>
        <p>TODO STARS</p>
      </div>
      <div class="stats_table">
        <table>
          <tbody>
            <tr>
              <td class="stat_name">No.of Test created</td>
              <td class="stat_value">40</td>
            </tr>
            <tr>
              <td class="stat_name">No.of Test created</td>
              <td class="stat_value">40</td>
            </tr>
            <tr>
              <td class="stat_name">No.of people attempted</td>
              <td class="stat_value">450</td>
            </tr>
            <tr>
              <td class="stat_name">Completion Rate</td>
              <td class="stat_value">65%</td>
            </tr>
            <tr>
              <td class="stat_name">Average ratings received</td>
              <td class="stat_value">4.0</td>
            </tr>
            <tr>
              <td class="stat_name">Total game time</td>
              <td class="stat_value">850 Hours</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>