


    <div *ngIf="intial" class="container">
        <h1>Forgot password ?</h1>
        
        <p class="dc">Lost your password?No worries, even Einstein couldn't remember his locker combination!🤓🔐 Drop your email, and we'll send you an OTP smarter than your favorite subject. Don't worry,Our servers aced memory class—your password is in good hands! 🚀🔐 "</p>

        <div class="form-group">
            <input type="email" id="email" name="email" class="input-field" placeholder="Enter Your E-Mail Id">
        </div>

        <!-- Create Account button -->
        <button class="create-account-btn" (click)="sendotp()">Send otp</button>

    </div>





    <div *ngIf="clickedSendOtp">


    <div class="container">
        <h1>Enter Otp</h1>
        
        <p>Time to decode the secret message! 🕵️‍♂️✉️ Enter the OTP we just sent,it's like unlocking the classroom mystery</p>

        <div class="form-group">
            <input type="email" id="email" name="email" class="input-field" placeholder="Enter OTP">
        </div>

        


        <!-- Create Account button -->
        <button class="create-account-btn" (click)="handleOtpSubmit()">Submit</button>

    </div>


    </div>






    <div *ngIf="clickedSubmitOtp">


        <div class="container">
            <h1>Reset Password</h1>
        
        <p>A verification mail will send to your to reset your password</p>

        <div class="form-group">
            <input type="text" id="text" name="text" class="input-field" placeholder="New Password">
        </div>
       <div class="form-group">
            <input type="text" id="text" name="text" class="input-field" placeholder="Confirm New Password">
        </div>

       <!-- Create Account button -->
        <button class="create-account-btn">Reset</button>
    
        </div>
    
    
        </div>
    
    










