<div class="about-us-container">
    <div class="abtus-banner"></div>
    <!-- <div class="abtus-section-links">
        <h4><a href="#Overview">About us</a></h4>
        <h4><a href="#Mission">Mission</a></h4>
        <h4><a href="#Vision">Vision</a></h4>
        <h4><a href="#Values">Values</a></h4>
        <h4><a href="#Differentiators">Key differentiators</a></h4>
    </div> -->

    <div id="Overview" class="abtus-content">
        <h3>About us</h3>
        <h5>
            Kuhedu is a 'Education-as-a-Service' (EaaS) platform that offers students in India a comprehensive
            collection of
            practice papers across various subjects, all wrapped in engaging gamification. This app not only caters to
            the academic curriculum but also motivates and challenges students to enhance their knowledge and skills.
            Kuhedu's unique value lies in its personalized and interactive learning approach, allowing students to learn
            at their own pace, receive instant feedback, and enjoy a gamified experience. Additionally, it harnesses the
            power of data analytics and AI to provide valuable insights and recommendations based on individual
            performance and preferences. In a rapidly growing Indian student demographic, Kuhedu stands out for its
            affordable and effective exam preparation, blending content, gamification, and user-friendliness.
            Collaborations and network effects further expand its reach, making a significant impact in the EdTech
            landscape.
        </h5>
    </div>
    <div id="Mission" class="abtus-content">
        <h3>Mission</h3>
        <h5>
            <li>Our goal is to empower young minds through an interactive app, fostering curiosity, confidence, and
                skill development </li>
        </h5>
        <h5>
            <li>We create a fun environment for children to explore, practice, and excel, by merging education with
                interactive gameplay </li>
        </h5>
        <h5>
            <li>We're dedicated to sparking a lifelong passion for learning in a secure, collaborative space </li>
        </h5>
        <h5>
            <li>We use technology to inspire creativity, critical thinking, and continuous growth, enriching each
                learners' journey </li>
        </h5>
        <h5>
            <li>Our mission is to help learners discover their full potential, fostering a love for learning that lasts
                a lifetime</li>
        </h5>

    </div>

    <div id="Vision" class="abtus-content">
        <h3>Vision</h3>
        <h5>
            Kuhedu is a trailblazer in the Ed-Tech field as it is an evolving and unique Gaming and exploratory
            edutainment platform for learners. Because there is a child in everybody who loves to play and explore,
            Kuhedu's edutainment platform is suitable for all learners of all age groups. The vision of Kuhedu is to
            transform
            Ed-tech space with next-Gen tools that will offer ONE-Platform for all the learning journey needs and close
            the loop of learning content creation, delivery, consumption, practice, feedback and more practice and
            finally utilization, which is essential for effective teaching and learning. As most ed-tech solutions do
            not achieve this loop closure and leave gaps in the learning process, hence Kuhedu is working to fill this
            void.​
        </h5>
    </div>

    <h3 style="margin-top:25px;margin-bottom:-8px">Our values</h3>

    <div id="Values" class="values-container">
        <div id="value1" class="value">
            <div class="image">
                <div class="value-img1"></div>
            </div>
            <div class="value-text">
                <h5>Student centric approach</h5>
            </div>
        </div>
        <div id="value2" class="value">
            <div class="image">
                <div class="value-img2"></div>
            </div>
            <div class="value-text">
                <h5>Continuous improvement</h5>
            </div>
        </div>
        <div id="value3" class="value">
            <div class="image">
                <div class="value-img3"></div>
            </div>
            <div class="value-text">
                <h5>Innovation</h5>
            </div>
        </div>
        <div id="value4" class="value">
            <div class="image">
                <div class="value-img4"></div>
            </div>
            <div class="value-text">
                <h5>Equity and Inclusion</h5>
            </div>
        </div>
        <div id="value5" class="value">
            <div class="image">
                <div class="value-img5"></div>
            </div>
            <div class="value-text">
                <h5>Excellence and Motivation</h5>
            </div>
        </div>
    </div>

    <h3 style="margin-top:25px">Key Differentiators</h3>

    <div id="Differentiators" class="diff-container">
        <div id="difference1" class="diff">
            <div class="image">
                <div class="diff-img1"></div>
            </div>
            <div class="diff-text">
                <h6>Personalized Learning Journey</h6>
                <br />
                <h5>Kuhedu offers a tailored approach based on individual traits for effective, personalized education,
                    enhancing learning outcomes.</h5>
            </div>
        </div>
        <div id="difference2" class="diff">
            <div class="image">
                <div class="diff-img2"></div>
            </div>
            <div class="diff-text">
                <h6>Intelligent Progress Analysis</h6>
                <br />
                <h5> Kuhedu adapts questions based on progress, ensuring engaging, challenging, and confidence-boosting
                    learning. </h5>
            </div>
        </div>
        <div id="difference3" class="diff">
            <div class="image">
                <div class="diff-img3"></div>
            </div>
            <div class="diff-text">
                <h6>Smart Progress Adaptation</h6>
                <h5> Kuhedu excels in adapting questions to create a stimulating learning environment with the right
                    balance of challenge and engagement. </h5>
            </div>
        </div>
        <div id="difference5" class="diff">
            <div class="image">
                <div class="diff-img4"></div>
            </div>
            <div class="diff-text">
                <h6>Educational Playfulness</h6>
                <h5> Kuhedu stands out by seamlessly integrating entertainment with education making learning enjoyable
                    and rewarding.</h5>
            </div>
        </div>
    </div>
</div>