<!-- <div class="dropdown">
  <div class="dropbtn">
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
      <path
        d="M40 42V38C40 35.8783 39.1571 33.8434 37.6569 32.3431C36.1566 30.8429 34.1217 30 32 30H16C13.8783 30 11.8434 30.8429 10.3431 32.3431C8.84285 33.8434 8 35.8783 8 38V42"
        stroke="#3A6000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
      <path
        d="M24 22C28.4183 22 32 18.4183 32 14C32 9.58172 28.4183 6 24 6C19.5817 6 16 9.58172 16 14C16 18.4183 19.5817 22 24 22Z"
        stroke="#3A6000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </div>
  <div class="dropdown-content">
    <div class="profile_box">
      <div class="top_section">
        <div class="profile_pic">
          <img src="https://i.pinimg.com/550x/a8/47/9a/a8479a922b151b03df56a6db105dc5dd.jpg" alt="profile pic">
        </div>
        <div class="profile_text">
          <p class="profile_username">
            Anand Mahindra
          </p>
          <p class="profile_usertag">
            @Saicharan
          </p>
        </div>
      </div>
      <div class="bottom_section">
        <a href="">Profile</a>
        <hr>
        <a href="">Reports</a>
        <hr>
        <a href="">FAQ</a>
        <hr>
        <a href="">Help/Support</a>
        <hr>
        <a href="">Logout</a>
      </div>
    </div>

  </div>
</div>
 -->





 <section class="container">
  <div class="main-div">
    <div class="first1">
      <div class="top-line">
        <div class="item1">
          <p class="bold-text">You recently created</p>
        </div>
        <div class="icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="22" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
            </svg>
        </div>
    </div>
  <section class="recently-created">
    <div routerLink="/create-quiz" class="createclass">
        <svg style="text-align:center;margin-top: 28%;" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
          </svg>
      <p class="create-class">Create</p>
    </div>
  
  
  
    <div class="cardbutton">
      <div class="card biology">
        <div class="card-image-container">
          <img src="../../../assets/bioimg.png" alt="Biology Image" class="card-image" style="width:85%;margin-left: 12px;">
        </div>
        <p class="practice-paper">Practice paper 1</p>
        <p>20 Questions</p>
        <p>157 plays</p>
      </div>
      <div class="buttonofcard">
        <button class="blue-button2">See Report</button>
      </div>
    </div>
  
  
  
    <div class="cardbutton">
      <div class="card mathematics">
        <div class="card-image-container">
          <img src="../../../assets/mathsimg.png" alt="Mathematics Image" class="card-image" style="width:73%;margin-left: 19px;margin-top: 8px;">
        </div>
        <p class="practice-paper">Practice paper 1</p>
        <p>20 Questions</p>
        <p>157 plays</p>
      </div>
      <div class="buttonofcard">
        <button class="blue-button2">See Report</button>
      </div>
    </div>
  
  
  
  
  
    <div class="cardbutton">
      <div class="card chemistry">
        <div class="card-image-container">
          <img src="../../../assets/chemimg.png" alt="Chemistry Image" class="card-image" style="width:78%;margin-left: 12px;">
        </div>
        <p class="practice-paper">Practice paper 1</p>
        <p>20 Questions</p>
        <p>157 plays</p>
      </div>
      <div class="buttonofcard">
        <button class="blue-button2">See Report</button>
      </div>
    </div>
  
  
    <div class="arrow-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="43" height="40" fill="green" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
          </svg>
    </div>
  </section>
    </div>
      <div class="second1">
        <div class="top-line">
          <div class="item1">
          <p class="bold-text">You recently viewed papers</p>
        </div>
          <div class="icon-container">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="22" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                  <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
              </svg>
          </div>
      </div>
      <section class="recently-viewed">
  
        <div class="cardbutton">
          <div class="card biology">
            <div class="card-image-container">
              <img src="../../../assets/bioimg.png" alt="Biology Image" class="card-image" style="width:85%;margin-left: 12px;">
            </div>
            <p class="practice-paper">Practice paper 1</p>
            <p>20 Questions</p>
            <p>157 plays</p>
          </div>
          <div class="buttonofcard">
            <button class="blue-button2">See Report</button>
          </div>
        </div>
  
        <div class="cardbutton">
          <div class="card mathematics">
            <div class="card-image-container">
              <img src="../../../assets/mathsimg.png" alt="Mathematics Image" class="card-image" style="width:73%;margin-left: 19px;margin-top: 8px;">
            </div>
            <p class="practice-paper">Practice paper 1</p>
            <p>20 Questions</p>
            <p>157 plays</p>
          </div>
          <div class="buttonofcard">
            <button class="blue-button2">See Report</button>
          </div>
        </div>
  
  
        <div class="cardbutton">
    <div class="card physics">
      <div class="card-image-container">
        <img src="../../../assets/physicsimg.png" alt="Physics Image" class="card-image" style="width:73%;margin-left: 22px;margin-top: 8px;">
      </div>
      <p class="practice-paper">Practice paper 1</p>
      <p>20 Questions</p>
      <p>157 plays</p>
    </div>
    <div class="buttonofcard">
      <button class="blue-button2">See Report</button>
    </div>
  </div>
  
        <!-- <div class="cardbutton">
          <div class="card">
            <div class="chemistry">
            <p class="practice-paper">Practice paper 1</p>
            <p >20 Questions</p>
            <p >157 plays</p>
          </div>
          </div>
          <div class="buttonofcard">
            <button class="blue-button2">See Report</button>
          </div>
        </div> -->
  
  
        <div class="cardbutton">
          <div class="card chemistry">
            <div class="card-image-container">
              <img src="../../../assets/chemimg.png" alt="Chemistry Image" class="card-image" style="width:78%;margin-left: 12px;">
            </div>
            <p class="practice-paper">Practice paper 1</p>
            <p>20 Questions</p>
            <p>157 plays</p>
          </div>
          <div class="buttonofcard">
            <button class="blue-button2">See Report</button>
          </div>
        </div>
  
        <div class="arrow-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="43" height="40" fill="green" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
            </svg>
      </div>
      </section>
      </div>
  
      </div>
  
  </section>


