<div class="page-container-practice">
    <div class="display-1" id="first">
        <div class="text-div">
            <h1>Kuhedu Practice</h1>
            <h4>Kuhedu offers unique, adaptive, personalized , gamified, interactive and AI enabled platform for
                teachers and students to enhance the experience of learning with the help of creating and
                practicing the best questionnaires as per your requirements.
            </h4>
        </div>
        <div class="img-div">
            <div class="img1"></div>
        </div>
    </div>

    <div style="text-align: center;">
        <h2>Why Kuhedu Practice?</h2>
    </div>

    <div class="display-1" id="second">
        <div class="text-div">
            <h3>Adaptive and Personalized Practice</h3>
            <h4>An innovative learning tool that caters to individual learning needs. Through advanced
                algorithms and analytics, the platform analyzes each user's performance and adaptively adjusts
                the difficulty of practice exercises. This not only helps learners focus on areas they need to
                improve on, but also challenges them to keep growing. With personalized exercises and
                progress tracking, learners can work at their own pace and watch their performance improve
                over time. The AP Practice platform provides a highly effective and engaging learning
                experience for learners of all levels.
            </h4>
        </div>
        <div class="img-div">
            <div class="img2"></div>
        </div>
    </div>

    <div class="display-2" id="third">
        <div class="img-div">
            <div class="img3"></div>
        </div>
        <div class="text-div">
            <h3>Target exam preparation model</h3>
            <h4>Kuhedu Practice is a comprehensive approach that focuses on providing personalized
                guidance, resources, and support to students preparing for high-stakes exams. The model is
                based on a thorough analysis of the individual student's strengths and weaknesses, followed by
                a customized practice plan and timeline. It incorporates a wide range of learning strategies,
                including practice tests and feedback . The model also emphasizes the importance of mental
                and physical well-being, with measures to ensure that students are motivated, focused, and
                stress-free. Overall, the Target exam preparation model is designed to help students achieve
                their full potential and excel in their exams.
            </h4>
        </div>
    </div>

    <div class="display-1" id="fourth">
        <div class="text-div">
            <h3>Real-time feedback, analysis and support</h3>
            <h4>Real-time feedback, analysis, and support of Kuhedu is a game-changer in the educational
                domain. It enables learners to get prompt feedback on their performance, helping them to
                quickly address any knowledge gaps and improve their skills. The analysis of the system helps
                teachers to understand the learners' progress and identify their strengths and weaknesses..
                Consequently, learning becomes efficient and effective. Overall, real-time feedback, analysis,
                and support of a learning platform are critical in enhancing the learning experience and
                achieving better outcomes.
            </h4>
        </div>
        <div class="img-div">
            <div class="img4"></div>
        </div>
    </div>

    <div class="display-2" id="fifth">
        <div class="img-div">
            <div class="img5"></div>
        </div>
        <div class="text-div">
            <h3>User-friendly : Easy to create and share platform</h3>
            <h4>Kuhedu is a user-friendly platform designed to be easy to create and share, allowing teachers
                to accomplish their tasks efficiently. It is intuitive and accessible, tailored to meet the needs of a
                variety of students.Any individual, regardless of technical ability, will be able to navigate the
                platform with ease.By being straightforward and easy to use, it also makes private sharing and
                collaboration more seamless with the help of secured Kuhedu PIN.
            </h4>
        </div>
    </div>


</div>
<app-school-contact-us></app-school-contact-us>
<app-footer></app-footer>
